<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <a href="https://donate.drawpile.org/" target="_blank"><span class="icon"><i class="fas fa-heart"></i></span> Donate</a><br>
        <a href="https://github.com/drawpile/" target="_blank"><span class="icon"><span class="fab fa-github"></span></span> Github</a><br>
        <a href="https://drawpile.net/discord/" target="_blank"><span class="icon"><span class="fab fa-discord"></span></span> Discord</a><br>
        <a href="https://drawpile.net/fedi/" target="_blank"><span class="icon"><i class="fa fa-bullhorn"></i></span> Mastodon</a><br>
        <a href="/devblog/" target="_blank"><span class="icon"><i class="fa fa-code"></i></span> Development Blog</a><br>
        <a href="/codesigningpolicy/"><span class="icon"><i class="fa fa-signature"></i></span> Code Signing Policy</a><br>
      </div>
      <div class="column is-narrow">
        <p>&copy; 2014-2025 Drawpile Contributors</p>
        <p>The content of this site (unless otherwise noted) is licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-SA 4.0</a>.</p>
        <p>Drawpile is Free and Open Source software under <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a>.</p>
        <p>
            <a href="https://drawpile.net/impressum/">Impressum</a>
            –
            <a href="https://drawpile.net/privacy/">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
