<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <a href="https://github.com/drawpile/" target="_blank"><span class="icon"><span class="fab fa-github"></span></span> Github</a><br>
        <a href="https://discord.gg/M3yyMpC" target="_blank"><span class="icon"><span class="fab fa-discord"></span></span> Discord</a><br>
        <a href="/devblog/" target="_blank"><span class="icon"><i class="fa fa-code"></i></span> Development Blog</a><br>
      </div>
      <div class="column is-narrow">
        <p>&copy; 2014-2023 Drawpile Contributors</p>
        <p>The content of this site (unless otherwise noted) is licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-SA 4.0</a>.</p>
      </div>
    </div>
  </div>
</footer>
