<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <h1 class="navbar-item"><a href="/"><img id="drawpile-navbar-banner" src="{{ "/assets/img/logo.png" | relative_url}}" alt="Drawpile"></a></h1>
      <button id="navbar-toggle" class="button navbar-burger">
        <span></span><span></span><span></span>
      </button>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://drawpile.net/news/">News</a>
        <a class="navbar-item is-hidden-desktop-only" href="https://drawpile.net/about/">About</a>
        <a class="navbar-item" href="https://drawpile.net/download/">Download</a>
        <a class="navbar-item" href="https://drawpile.net/help/">Help</a>
        <a class="navbar-item" href="https://drawpile.net/communities/">Communities</a>
        <div class="navbar-item">
          <a href="https://donate.drawpile.org/" target="_blank" class="button is-info">
            <span class="icon"><span class="fas fa-heart"></span></span>
            <span>Donate</span>
          </a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item" id="navbar-account">
          <noscript>
            <a href="https://drawpile.net/accounts/profile/" class="button">Account</a>
          </noscript>
        </div>
      </div>
    </div>
  </nav>
</div>
