<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/bulma.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/fontawesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/brands.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ "assets/img/favicon/16x16.png" | relative_url }}" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ "assets/img/favicon/32x32.png" | relative_url }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ "assets/img/favicon/48x48.png" | relative_url }}" sizes="48x48">
	<link rel="icon" type="image/png" href="{{ "assets/img/favicon/64x64.png" | relative_url }}" sizes="64x64">
  {%- feed_meta -%}
</head>
